<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Хранилище</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Хранилище - <span th:text="${folder}"></span></h1>

    <div th:if="${canUpload}">
        <div class="card mb-4">
            <div class="card-body">
            <h2 class="card-title">Загрузить файл</h2>
            <form method="post" enctype="multipart/form-data" th:action="@{/files/upload}">
                <input type="hidden" name="folder" th:value="${folder}" />
                <input type="hidden" name="owner" th:value="${user}" />
                <div class="form-group">
                    <input type="file" class="form-control" name="file" required/>
                </div>
                <button type="submit" class="btn btn-primary">Загрузить</button>
            </form>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">Файлы</h2>
            <ul class="list-group" th:if="${files.size() > 0}">
                <li th:each="file : ${files}" class="list-group-item">
                    <a th:href="@{'/files/download/' + ${file.id} + '?owner=' + ${file.user} + '&folder=' + ${folder}}">
                        <span th:text="${file.fileName}"></span>
                    </a>
                    <p>
                        <span th:text="'Размер файла: ' + ${file.fileSize} + ' MB'"></span>
                    </p>
                    <p>
                        <span th:text="'Уровень доступа файла: ' + ${file.accessLevel}"></span>
                    </p>
                    <p>
                        <span th:text="'Создатель: ' + ${file.user}"></span>
                    </p>
                    <form th:if="${userAccessLevel == folderAccessLevel}"  th:action="@{/files/deleteFile}" method="post" style="display:inline;">
                        <input type="hidden" name="fileId" th:value="${file.id}"/>
                        <input type="hidden" name="folderName" th:value="${folder}"/>
                        <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                    </form>
                </li>
            </ul>
            <p th:if="${files.size() == 0}">В этой папке пока нет файлов.</p>
        </div>
    </div>
    <a class="btn btn-secondary" th:href="@{/files}">Назад</a>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-SWEk+x0j3E2+9XLq+GNInFLiYETfphCnx2MC6F1fqltU/kKmBfmgB2AtX1HF7JX1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh/jFc5tx0Bm8zFZ8nY2t6m2j21gmgJNQwpXU"
        crossorigin="anonymous"></script>
</body>
</html>
