<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>File Storage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">File Storage</h1>

    <!-- Create Folder Form -->
    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">Create Folder</h2>
            <form method="post" th:action="@{/files/createFolder}">
                <div class="form-group">
                    <input type="hidden" name="user" th:value="${user}" />
                    <input type="text" class="form-control" name="folderName" placeholder="Folder Name" required/>
                </div>
                <button type="submit" class="btn btn-primary">Create Folder</button>
            </form>
        </div>
    </div>

    <!-- Folders List -->
    <div class="card mb-4" th:if="${folders.size() > 0}">
        <div class="card-body">
            <h2 class="card-title">Folders</h2>
            <ul class="list-group">
                <li th:each="folder : ${folders}" class="list-group-item">
                    <a th:href="@{'/files?user=' + ${user} + '&folder=' + ${folder}}" th:text="${folder}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-SWEk+x0j3E2+9XLq+GNInFLiYETfphCnx2MC6F1fqltU/kKmBfmgB2AtX1HF7JX1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh/jFc5tx0Bm8zFZ8nY2t6m2j21gmgJN7Jqnv"
        crossorigin="anonymous"></script>
</body>
</html>
