<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Профиль пользователя</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Профиль пользователя</h1>

    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">Информация о пользователе</h2>
            <p><strong>Имя пользователя:</strong> <span th:text="${user.username}"></span></p>
            <p><strong>Уровень доступа:</strong> <span th:text="${user.accessLevel}"></span>
            </p>
            <p><strong>Роль:</strong>
                <span th:each="role : ${user.roles}" th:text="${role}"></span>
            </p>
        </div>
    </div>

    <a href="/profile/changePassword" class="btn btn-primary">Сменить пароль</a>
    <a href="/files" class="btn btn-secondary">Назад</a>
</div>
</body>
</html>
